body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: black;
}

table {
  text-align: left;

}
th {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
td {
  padding: 10px;
}

a {
  color: #00B7FF;
}
